<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>-------------------------------------------------------------</string>
      //This variable is specific to the Pattonville School District. Since the servers are still running, this variable has been scrubbed for the security of the system.
	<key>REVERSED_CLIENT_ID</key>
	<string>-------------------------------------------------------------</string>
      //This variable is specific to the Pattonville School District. Since the servers are still running, this variable has been scrubbed for the security of the system.
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.psdr3.ticket-master-ios</string>
</dict>
</plist>
